*{
	margin: 0 auto;
	padding-left: 0 auto;
	border: 1 px solid orange;
}
.container{
	background-color: black;
	width: 100%;
	height: 100%;
	border: 20px solid black;
}
.top{
	color: white;
	display: inline-block;
	width: 100%;
}
.top h1{
	font-size: 50px;
	width: 50px;
	margin-left: 30px;
	margin-top: 50px;
	display: inline-block;
	padding-left: 20px;
}
.top ul{
	display: inline-block;
	vertical-align: top;
	margin-left: 600px;
	margin-top: -10px;
}
.top li{
	display: inline-block;
	margin-top: 35px;
	font-size: 25px;
	padding: 40px;
}
.blue{
	color: teal;
	display: inline-block;
	vertical-align: top;
	margin-left: 140px;
	margin-top: -55px;
}
.body{
	display: inline-block;
	width: 100%;
	background-color: white;
}
.body img{
	width: 95%;
	margin:30px;
	vertical-align: top;
}
.message{
	display: inline-block;
	background-color: rgb(44,91,202);
	vertical-align: top;
	margin: 10px;
	height: 350px;
	width: 30%;
	padding: 10px;
}
.message .tool{
	width: 50px;
	display: inline-block;
	margin-left: 10px;
	color: white;
}
.message .headline{
	display: inline-block;
	width:35px;
	color: white;
	margin-top: 35px;
	margin-left: 5px;
}
.message .content{
	display: inline-block;
	color: white;
	font-size: 20px;
	margin:5px;
	padding: 15px;
}
.message .info{
	display: inline-block;
	background-color: rgb(73,112,242);
	width: 210px;
	height: 50px;
	border-radius: 10px;
	margin: 30px;
	color: white;
}
.bottom{
	display: inline-block;
	background-color: white;
	width: 100%;
}
.bottom h1{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 30px;
}
.bottom ul{
	display: inline-block;
	vertical-align: top;
	margin-left: 650px;
}
.bottom img{
	width: 550px;
	height: 300px;
	display: inline-block;
	padding: 20px;
}
.bottom p{
	display: inline-block;
	font-size: 17px;
	vertical-align: top;
	width: 350px;
	margin-top: 20px;
}
.bottom h2{
	display: inline-block;
	width: 350px;
	height: 150px;
	font-size: 15px;
	margin-left: -350px;
	vertical-align: top;
	margin-top: 100px;
}
.bottom h3{
	display: inline-block;
	width: 270px;
	font-size: 15px;
	margin-left: -350px;
	vertical-align: top;
	margin-top: 200px;
}
.bottom .testimony{
	display: inline-block;
	background-color: rgb(41,186,247); 
	margin-left: 475px;
	height: 100px;
	padding: 50px;
	font-size: 20px;
}
.bottom h4{
	display: inline-block;
	margin-left: 72%;

}
.bottom button{
	display: inline-block;
	margin-left: -280px;
	font-size: 20px;
	text-decoration: none;
	vertical-align: top;
	margin-top: 250px;
	padding: 10px;
	background-color: white;
}
.footer{
	background-color: rgb(59,226,226);
	width: 100%;
}
.footer li{
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	margin:15px;
	text-decoration: none;
}
.footer ul{
	text-align: center;
	margin: 2px;
}
.footer a{
	text-decoration: none;
	padding: 2px;
}
